/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(59, 61, 83);
  position: fixed; 
  top: 0; 
  width: 100%; 
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  z-index: 999;
  box-shadow: 3px 3px 3px #888888;
  
}

/* Links inside the bar */
.navbar a {
  
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  border-right: 2px solid white;
}

a:hover {
  text-decoration: underline;
}


/* Text inside the bar */
.navbar div {
  
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  border-right: 3px solid rgb(255, 255, 255);
}


body {
  margin:0;
  margin-top: 100px;
  background-color: #f2f3fa
}



.content {
  background-color: white;
  overflow-wrap: break-word;
  border-top: 3px solid rgba(0, 0, 0, 0.493);
  padding: 20px;
  margin: 20px auto;
  max-width: 1051px;
  box-shadow: 10px 10px 5px #888888;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-height: 100%;
}

.content a {
  
  display: inline-block;
  background-color: rgb(59, 61, 83);
  color: #ffffff;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  box-shadow: 3px 3px 3px #888888;
}

.content p {
  padding: 0.1px 0px;
}

.align-left {
  float: left;
  width: 50%;
  font-size: 1.1em;
  padding: 0px 0px;
}
.align-right{
  float: right;
  width: 50%;
  text-align: right;
  font-size: 1.1em;
  padding: 0px 0px; 
}
.subTitle {
  text-decoration: underline;
  font-size: 1.2em;
  padding: -5px 0px;
  
}

#jsGameApp{
	background:#ffffff;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-320px;
  margin-top:-180px;
  border: solid 5px black;

}